{{- /* chezmoi managed .gitconfig */ -}}
[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}

[core]
    editor = nvim
    pager = delta

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    syntax-theme = Catppuccin-mocha

[alias]
    st = status -sb
    co = checkout
    br = branch
    ci = commit
    lg = log --graph --oneline --decorate --all
    amend = commit --amend --no-edit
    unstage = reset HEAD --
    last = log -1 HEAD

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
